
body{
  font-family: 'Airbnb Cereal App', sans-serif !important;
}

.home-text{
  color: white;
}

/* HOME PAGE*/

.home-page-cont {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../resources/bgImg.jpg');
  background-position: center; /* Center the image */
  background-size: cover;

  /* background-color: #cccccc; */
}

@media (min-width: 900px) {

  .link-cont{
    display: flex;
    width: 50%;
  }


}

@media (max-width: 900px) {

  .link-cont{
    display: block;
    width: 50%;
    text-align: center;
  }
  .btn-secondary-1{
    margin-top: 3rem;
  }


}


.btn-primary-1{
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  padding: 1rem 2rem 1rem 2rem;
  letter-spacing: 1.3;
  text-decoration: none;
  border-radius: 10px;
  border: 3px solid #00bcd4;;
  transition: all ease .5s;
  overflow: hidden;
  color: white;
  width: 225px;
}

.btn-primary-1:hover{
  background-color: #00bcd4;
  color: white;
}

.btn-primary-1:hover .wave{
  top: 100%;
}

.btn-primary-1:hover:before{
  display: none;
}


.wave{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all ease 0.5s;

}

.wave:before{
  content: '';
  position: absolute;
  width: 240px;
  height: 200px;
  background-color: #00bcd4;
  background-position: 0px 0px;
  border-radius: 40%;
  top: 60px;
  left: -80px;
  animation: rotate 15s linear infinite;
}

.wave:after{
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #00bcd4;;
  border-radius: 45%;
  top: 40px;
  right: -60;
  animation: rotate 15s linear infinite;
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


.btn-secondary-1{
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  padding: 1rem 2rem 1rem 2rem;
  letter-spacing: 1.3;
  text-decoration: none;
  border-radius: 10px;
  border: 3px solid #5c64a2;;
  transition: all ease .5s;
  overflow: hidden;
  color: white;
  width: 225px;
}

.btn-secondary-1:hover{
  background-color: #5c64a2;
  color: white;
}

.btn-secondary-1:hover .wave{
  top: 100%;
}

.btn-secondary-1:hover:before{
  display: none;
}

.wave-sec{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all ease 0.5s;

}

.wave-sec:before{
  content: '';
  position: absolute;
  width: 240px;
  height: 200px;
  background-color: #5c64a2;
  background-position: 0px 0px;
  border-radius: 40%;
  top: 60px;
  left: -60px;
  animation: rotate 10s linear infinite;
}

.wave-sec:after{
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #5c64a2;;
  border-radius: 45%;
  top: 40px;
  right: -60;
  animation: rotate 15s linear infinite;
}



/* BOARDS */

div.c-wrapper {
  width: 60%;
  height: 50%;
  margin: auto;
  text-align: center;
}

.carousel-item img {
  height: 60vh;
  opacity: 90%;
  filter: brightness(30%);
}

/* Paddling */

/* .carousel-item{
    height: 30rem;
} */

.descr {
  width: 50%;
  margin-bottom: 2rem;
}

.carousel-caption{
  font-size: 1.5rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  /* Use to adjust size of icons */
  background-color: black;
  padding: 1rem;
}

.carousel-control-next{
  height: 50px;
  margin-top: 20%;
}

figure img {
  width: 300px;
  height: 300px;
}

.container-paddling {
  width: 80%;
  margin: auto;
}


figure:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  padding: 1rem;
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  color: #7bd6b8;
  text-align: center;
  backface-visibility: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.back {
  background: #b8dfd2;
  color: darkblue;
  transform: rotateY(180deg);
}

.paddling {
  width: 80%;
  height: 40%;
}




.etiquette {
  width: 60%;
  height: 50%;
}

.safety {
  width: 70%;
  height: 70%;
}

.q1 {
  width: 30%;
  height: 30%;
}

.q5 {
  width: 100%;
  height: 30%;
}

.container {
  max-width: 50%;
  max-height: 50%;
}

.top {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.right {
  position: absolute;
  right: 50;
  top: 10;
}


.row {
  color: white;
  margin-top: 4rem;
}

.row:hover {
  color: rgb(4, 55, 87);
}

.safety-col img {
  margin-left: 20%;
  height: 25vw;
  width: 35vw;
  border-radius: 20px;
}

.safety-caption {
  margin-top: 15%;
  width: 50%;
}

.bg-alt {
  color: rgb(225, 242, 252);
  background-color: rgb(225, 242, 252);
  padding: 2rem;
}

.bg-alt:hover {
  color: rgb(4, 55, 87);
}

.kook-def {
  width: 50%;
}

.modal-home {
  color: white;
  background-color: blue;
  text-decoration: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.2rem;
  padding-right: 1rem;
  border-radius: 5px;
  width: 5rem;
}

.modal-home:hover {
  text-decoration: none;
  color: white;
  background-color: lightskyblue;
}

.scorelines {
  line-height: 1.75;
}

.card1 {
  /* position: absolute; */
  margin-left: 31px;
  width: 333.5px;
  height: 250px;
  float: left;
  perspective: 500px;
  border: none;
}

.card2 {
  /* position: absolute; */
  margin-left: 9%;
  width: 333.5px;
  height: 250px;
  float: left;
  perspective: 500px;
  border: none;
}

.card3 {
  /* position: absolute; */
  margin-left: 9%;
  width: 333.5px;
  height: 250px;
  float: left;
  perspective: 500px;
  border: none;
}

.content {
  /* position: absolute; */
  margin: -40px 0 0 1px;
  width: 90%;
  height: 90%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

